* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #2B2B2B;
}

a {
  text-decoration: none;
  color: #E2F27D;
}

h1 {
  margin: 100px 0;
  font-size: 75px;
  font-weight: 700;
}

.home {
  width: 1170px;
  margin: 0 auto;
}

.bg {
  height: calc(100vh);
  background-image: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.57) ), url(img/bg2.jpg);
}

.contacts {
  display: flex;
}

.telegram {
  margin-left: 50px;
  display: flex;
  align-items:center;
}

.email {
  display: flex;
  align-items:center;
}

main img {
  margin-right: 20px;
}

.center {
  position: absolute;
  top:50%;
  transform:translate(0%, -50%);
}
